body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2
}

.chat-container {
    width: 400px;
    margin: 50px auto;
    background-color: while;
    padding: 15px;
    border-radius: 8px
}

#chat-box {
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}

.user{
    text-align: right;
    color: blue;
    margin: 5px 0;
}

.bot{
    text-align: left;
    color: green ;
    margin: 5px 0;
}

input{
    width: 70%;
    padding: 6px;
}

button{
    padding: 6px 10px
}